@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
  --font: 'Space Grotesk', sans-serif;
  --gradientColor: linear-gradient(
    -45deg,
    hsl(249, 99%, 64%),
    hsl(278, 94%, 30%),
    hsl(0, 40%, 17%),
    hsl(278, 68%, 11%)
  );
  --white: hsl(0, 0%, 100%);
  --lightGrV: hsl(270, 3%, 87%);
  --darkGrV: hsl(279, 6%, 55%);
  --verDaV: hsl(278, 68%, 11%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html {
  font-size: 62.5%;
  /* 62.5% === 10px donc 1rem = 10px , 16px = 1.6rem */
}
body {
  font-family: var(--font);
}
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  border: none;
}
.left {
  width: 30%;
  height: 100vh;
  background-image: url(/interactive-card-details-form-main/images/bg-main-desktop.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right {
  height: 100vh;
  display: flex;
  margin: auto;
  align-items: center;
}
.cardFace {
  position: relative;
  left: 25rem;
  min-height: 30%;
  max-width: 75%;
  margin-bottom: 2rem;
  border-radius: 0.8rem;
  background-color: var(--lightGrV);
}
.cardPile {
  position: relative;
  left: 30rem;
  min-height: 30%;
  max-width: 75%;
  border-radius: 0.8rem;
  background-color: var(--lightGrV);
}
.containerForm {
  /* background-color: red; */
  min-width: 30%;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0 30rem;
}
.containForm {
  padding-bottom: 1.5rem;
}
.containForm .modality {
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
}
.containForm label {
  color: var(--darkGrV);
}
.containForm .inputForm {
  min-height: 4rem;
  width: 100%;
  outline: none;
  border: 1px solid var(--verDaV);
  border-radius: 0.4em;
}
.containerForm .months {
  width: 20%;
  min-height: 4rem;
  border-radius: 0.8rem;
  border: 1px solid var(--verDaV);
  margin-right: 2rem;
}
.containerForm .years {
  width: 20%;
  min-height: 4rem;
  border-radius: 0.8rem;
  border: 1px solid var(--verDaV);
  margin-right: 2rem;
}
.containerForm .cvc {
  width: 50%;
  min-height: 4rem;
  border-radius: 0.8rem;
  border: 1px solid var(--verDaV);
}
.inputModality {
}
.btn {
  width: 100%;
  height: 4rem;
}
